__pycache__/layoutBoardObject.cpython-39.pyc
__pycache__/layoutBoardObject.cpython-38.pyc
__pycache__/client.cpython-38.pyc
__pycache__/PieceMovements.cpython-38.pyc
__pycache__/PieceMovements.cpython-39.pyc
__pycache__/client.cpython-39.pyc
__pycache__/BoardObjectOnlineTest.cpython-39.pyc
__pycache__/BoardObjectOnlineTest.cpython-38.pyc
__pycache__/__init__.cpython-39.pyc
__pycache__/__init__.cpython-38.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/chess.iml
randomGmae.py
newLayoutServer.py
ChessTrialTrialTrial.py
BoardObjectOnlineTest.py
